* {
    font-family: Arial, Helvetica, sans-serif;
}

#rodape {
    background-color: rgb(128, 7, 86);
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    border: black dashed;
}